src/ai-sentinel/workflows/Automatic_Sentinel_v1.0.json
{
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 3
            }
          ]
        }
      },
      "id": "d78401fb-d55e-4d65-a4c7-1993293c5a07",
      "name": "Schedule Trigger 1h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        1840,
        576
      ]
    },
    {
      "parameters": {
        "jsCode": "const j = $json;\nlet policies = [];\n\nif (Array.isArray(j?.policies)) {\n  policies = j.policies;\n} else if (Array.isArray(j) && j[0] && Array.isArray(j[0].policies)) {\n  policies = j[0].policies;\n}\n\nreturn policies.map(p => {\n  const passing = Number(p.passing_host_count || 0);\n  const failing = Number(p.failing_host_count || 0);\n  return {\n    json: {\n      source: 'timer',\n      policy_id: String(p.id ?? ''),\n      policy_name: p.name ?? '',\n      fleet_pass: failing === 0,\n      passing_host_count: passing,\n      failing_host_count: failing,\n      event_type: 'compliance',\n      message: `Policy ${p.name ?? ''}: pass=${passing}, fail=${failing}`,\n      timestamp: p.host_count_updated_at ?? p.updated_at ?? new Date().toISOString()\n    }\n  };\n});"
      },
      "id": "1d2fca31-70e4-4542-a2ee-aea0d51ce748",
      "name": "Normalize Policies",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2560,
        576
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json.failing_host_count}}",
              "operation": "larger",
              "value2": 0
            }
          ]
        },
        "options": {}
      },
      "id": "f3c58516-076c-4e7f-9514-1401129286d2",
      "name": "IF has_failures",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2800,
        576
      ]
    },
    {
      "parameters": {
        "url": "=https://host.docker.internal:1337/api/latest/fleet/hosts?page=0&per_page=50&device_mapping=true&order_key=display_name&order_direction=asc",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer ***"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true,
          "timeout": 30000
        }
      },
      "id": "a02224fb-f794-48fc-9251-068569a15676",
      "name": "HTTP Fleet Hosts1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2080,
        576
      ]
    },
    {
      "parameters": {
        "url": "=https://host.docker.internal:1337/api/latest/fleet/policies",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer ***"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true,
          "timeout": 30000
        }
      },
      "id": "d47c668e-7da1-415f-a28b-2a6f3d6ed110",
      "name": "HTTP Fleet Policies1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2320,
        576
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "status",
              "value": "ok",
              "type": "string"
            },
            {
              "name": "note",
              "value": "No failing hosts for this policy",
              "type": "string"
            }
          ]
        }
      },
      "id": "a6770b45-90ab-4a41-9a64-f73e430277ef",
      "name": "No Alert1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        3040,
        656
      ]
    },
    {
      "parameters": {
        "sendTo": "ssj91969@gmail.com, ejsg011004class@gmail.com",
        "subject": "=[ALERT] Policy failing {{$json.policy_id}} - {{$json.policy_name}}",
        "emailType": "text",
        "message": "=Policy ID: {{$json.policy_id}}\nPolicy Name: {{$json.policy_name}}\nPass hosts: {{$json.passing_host_count}}\nFail hosts: {{$json.failing_host_count}}\nMensaje: {{$json.message}}\nTimestamp: {{$json.timestamp}}",
        "options": {
          "ccList": ""
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        3024,
        464
      ],
      "id": "042436ff-16a1-4e76-a50c-76411f7bc083",
      "name": "Send a message",
      "webhookId": "c085ef8e-68f8-41d7-9197-3735d165dd17",
      "credentials": {
        "gmailOAuth2": {
          "id": "FPACv44wIAVr5prC",
          "name": "Gmail account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger 1h": {
      "main": [
        [
          {
            "node": "HTTP Fleet Hosts1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Fleet Hosts1": {
      "main": [
        [
          {
            "node": "HTTP Fleet Policies1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Fleet Policies1": {
      "main": [
        [
          {
            "node": "Normalize Policies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Policies": {
      "main": [
        [
          {
            "node": "IF has_failures",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF has_failures": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Alert1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "695e011ca5fced15abed24fc860ae0275c3eaf218f3be1d925265a518adaaec2"
  }
}
